<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head th:fragment="head (title)">
    <meta charset="UTF-8">
    <!--/*@thymesVar id="title" type=""*/-->
    <title th:text="${title}"></title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">
    <link rel="stylesheet" href="https://cdn.datatables.net/1.10.19/css/dataTables.bootstrap4.min.css">
    <link th:href="@{/css/layout.css}" rel="stylesheet" />

    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"></script>

</head>
<body>
  <nav class = "navbar navbar-expand-md navbar-dark fixed-top bg-dark" th:fragment="menu">
      <a class ="navbar-brand " href="/" >Strength your Skills</a>
      <div class="collapse navbar-collapse" id="navbarsExampleDefault">
          <ul class="navbar-nav mr-auto" >
<!--              <li></li>-->
              <li class="nav-item dropdown" th:if="${#authorization.expression('hasRole(''ROLE_TEACHER'')')}">
                  <a class="nav-link dropdown-toggle" href="#" id="dropdown01" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">Badge</a>
                  <div class="dropdown-menu" aria-labelledby="dropdown01">
                      <a class="dropdown-item" th:href="@{/teacher/badgeform}">Criar</a>
                      <a class="dropdown-item" th:href="@{/teacher/badgesList}">Listar</a>
                      <a class="dropdown-item" th:href="@{/teacher/badgeSend}">Entregar</a>
                  </div>
              </li>

          </ul>


          <div class="btn-group">
              <button type="button" class="btn btn-secondary dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                  Perfil
              </button>
              <div class="dropdown-menu dropdown-menu-right">
                  <button class="dropdown-item" type="button">Configurações</button>
                  <div class="dropdown-divider"></div>
                  <a class="dropdown-item" th:href="@{/logout}">Sair</a>
              </div>
          </div>

      </div>
  </nav>

</body>
</html>