<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head th:replace="layouts/layout :: head (title = 'Badge Submetido')">

</head>
<body>
    <div th:replace="layouts/layout :: menu"> </div>
    <br>
    <br>
    <h1>Badge Criado</h1>
    <br>
    <div >
        <!--/*@thymesVar id="badgeForm" type="pt.ulusofona.badges.forms.BadgeForm"*/-->
        <p th:text=" 'Nome: ' + ${badgeForm.name}"></p>
        <p th:text=" 'Disciplina: ' + ${badgeForm.subject}"></p>
        <!--/*@thymesVar id="badgeForm" type="pt.ulusofona.badges.forms.BadgeForm"*/-->
        <p th:text=" 'Descrição: ' + ${badgeForm.description}"></p>
        <p th:text=" 'Como Ganhar: ' + ${badgeForm.toWin}"></p>
        <a th:href="@{/teacher/badgeform}">Adicionar novo Badge</a>
    </div>

<!--    <img src="./img/logo.png">-->


</body>
</html>
