<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head th:replace="layouts/layout :: head (title = 'Home Professor')">

</head>

<body>
<div th:replace="layouts/layout :: menu"> </div>
<br>
<br>
    <div class="container">
        <h2 style="text-align: center;  margin-top: 25px">Badge Enviado</h2>
        <br>
        <div class="row col-md-3 table-responsive">
            <table  id="customerTable" class="table">
                <thead>
                <tr>

                    <th>Nº Aluno</th>
                    <th>Data</th>
                </tr>
                <tr th:each="estudante : ${tabela_studentbadge}">

                    <td th:text="${estudante?.name}">nome</td>
                    <td th:text="${data}"></td>
                </tr>
                </thead>
                <tbody>

                </tbody>
            </table>

        </div>
    </div>

</body>
</html>

<!-- <div class="col-md-2">
              <label for="validationTextarea">Alunos:</label>
              <textarea class="form-control is-invalid" id="validationTextarea" placeholder="Id dos Alunos" required></textarea>

          </div>-->