<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head th:replace="layouts/layout :: head (title = 'Criar Badge')">

</head>
<style>


</style>

<body>
    <div th:replace="layouts/layout :: menu"> </div>

    <div class="container">
<!--        &lt;!&ndash;/*@thymesVar id="badgeForm" type="pt.ulusofona.badges.forms.BadgeForm"*/&ndash;&gt;-->
        <br>
        <br>
        <br>
<!--        th:text="${username}"-->
        <h2  style="text-align: center"> Criar Badge</h2>
        <form method="post" th:action="@{/teacher/badgeform}" th:object="${badgeForm}" class ="needs-validation" novalidate>
            <div class="form-group" th:classappend="${#fields.hasErrors('name')} ? 'has-error' : ''">

                <label for="name" class="col-sm-3 control-label">Nome:</label>
                <div class="col-sm-5">
                    <input th:field="*{name}" type="text" class="form-control" id="name" placeholder="Nome do Badge" required=""/>
                    <div class = "valid-feedback"></div>
                    <div class = "invalid-feedback">Por favor, Insira o Nome para o Badge</div>
                    <p class="help-block invalid-fedback" th:if="${#fields.hasErrors('name') }" th:errors="*{name}">Error</p>
                </div>
            </div>
           <!-- <div class="form-group " >
                <label for="subject" class="col-sm-3 control-label">Disciplina:</label>
                <div class="col-sm-9">
                    <input th:field="*{subject}" type="text" class="form-control" id="subject" value="Universal" required=""/>
                    <div class = "valid-feedback"></div>
                    <div class = "invalid-feedback">Por favor, Insira a Disciplina</div>
                    <p class="help-block invalid-fedback" th:if="${#fields.hasErrors('subject')}" th:errors="*{subject}">Error</p>
                </div>
            </div>-->
            <div class="form-row">
                <div class="form-group col-md-3">
                    <label  class="col-md-5 control-label">Curso:</label>
                    <div style="margin-left: 30px">
                        <div class="form-check form-check-inline">
                            <input class="form-check-input" type="checkbox"  th:field="*{LEI}" />
                            <label  class="form-check-label" th:for="${#ids.next('LEI')}">LEI</label>
                        </div>
                        <div class="form-check form-check-inline">
                            <input class="form-check-input" type="checkbox" th:field="*{LIG}" />
                            <label class="form-check-label" th:for="${#ids.next('LIG')}">LIG</label>

                        </div>
                        <div class="form-check form-check-inline">
                            <input class="form-check-input" type="checkbox" th:field="*{LEIRT}" />
                            <label class="form-check-label" th:for="${#ids.next('LEIRT')}">LEIRT</label>
                        </div>
                    </div>
                </div>

                <div class="form-group col-md-9">
                    <label for="year" class="col-md-3 control-label">Ano Curricular:</label>
                    <div class="col-sm-2">
                        <select th:field="*{year}" class="form-control" id="year">
                            <option value="Todos" th:selected="${badgeForm.validacao=='Todos'}">Todos</option>
                            <option value="Primeiro" th:selected="${badgeForm.validacao=='Primeiro'}">1º Ano</option>
                            <option value="Segundo" th:selected="${badgeForm.validacao=='Segundo'}">2º Ano</option>
                            <option value="Terceiro" th:selected="${badgeForm.validacao=='Terceiro'}">3º Ano</option>
                        </select>
                        <!-- <p class="help-block" th:if="${#fields.hasErrors('validacao')}" th:errors="*{validacao}">Error</p>
                         <p class="help-block" th:if="${!#fields.hasErrors('validacao')}" >Escolha uma das opções</p>-->
                    </div>
                </div>
            </div>

            <div class="form-group" th:classappend="${#fields.hasErrors('avaliation')} ? 'has-error' : ''">
                <label for="avaliation" class="col-sm-5 control-label">Elemento de Avaliação:</label>
                <div class="col-sm-3">
                    <select th:field="*{avaliation}" class="form-control" id="avaliation">
                        <option value="Sim" th:selected="${badgeForm.avaliation=='Sim'}">Sim</option>
                        <option value="Nao" th:selected="${badgeForm.avaliation=='Nao'}">Não</option>
                    </select>

                </div>

            </div>

            <div class="form-group" th:classappend="${#fields.hasErrors('category')} ? 'has-error' : ''">
                <label for="category" class="col-sm-5 control-label">Categoria:</label>
                <div class="col-sm-3">
                    <select th:field="*{category}" class="form-control" id="category">
                        <option value="Soft" th:selected="${badgeForm.validacao=='Externa'}">Soft</option>
                        <option value="Hybrid" th:selected="${badgeForm.validacao=='Interna'}">Hybrid</option>
                        <option value="Hard" th:selected="${badgeForm.validacao=='Hard'}">Hard</option>
                    </select>

                    <!-- <p class="help-block" th:if="${#fields.hasErrors('validacao')}" th:errors="*{validacao}">Error</p>
                     <p class="help-block" th:if="${!#fields.hasErrors('validacao')}" >Escolha uma das opções</p>-->
                </div>
                <small id="CategoryHelpBlock" class="form-text text-muted">
                    Soft -> desafios não técnicos ou comportamentais |
                    Hard -> desafios técnicos onde se apliquem os conhecimentos adquiridos ao longo das aulas |
                    Hybrid -> junção das Soft e Hard Skills
                </small>
            </div>

            <div class="form-group" th:classappend="${#fields.hasErrors('validacao')} ? 'has-error' : ''">
                <label for="validacao" class="col-sm-5 control-label">Validação:</label>
                <div class="col-sm-3">
                    <select th:field="*{validacao}" class="form-control" id="validacao">
                        <option value="Externa" th:selected="${badgeForm.validacao=='Externa'}">Externa</option>
                        <option value="Interna" th:selected="${badgeForm.validacao=='Interna'}">Interna</option>
                    </select>
                    <!-- <p class="help-block" th:if="${#fields.hasErrors('validacao')}" th:errors="*{validacao}">Error</p>
                     <p class="help-block" th:if="${!#fields.hasErrors('validacao')}" >Escolha uma das opções</p>-->
                </div>
                <small id="ValidationHelpBlock" class="form-text text-muted">
                    Externa -> Validação fora desta plataforma |
                    Interna -> Validação dentro desta plataforma
                </small>
            </div>

            <div class="form-group " th:classappend="${#fields.hasErrors('description')} ? 'has-error' : ''">
                <label for="description" class="col-sm-3 control-label">Descrição:</label>
                <div class="col-sm-9">
                    <input th:field="*{description}" type="text" class="form-control" id="description" placeholder="Descrição do Badge"  required=""/>
                    <div class = "valid-feedback"></div>
                    <div class="invalid-feedback">Por favor, Insira a Descrição para o Badge</div>
                    <p class="help-block" th:if="${#fields.hasErrors('description')}" th:errors="*{description}">Error</p>
                </div>
                <small id="DescriptionHelpBlock" class="form-text text-muted">
                    Descrição sobre em que consiste o desafio
                </small>

            </div>
            <div class="form-group " th:classappend="${#fields.hasErrors('toWin')} ? 'has-error' : ''">
                <label for="toWin" class="col-sm-3 control-label">Como Ganhar:</label>
                <div class="col-sm-9">
                    <input th:field="*{toWin}" type="text" class="form-control" id="toWin" placeholder="Como Ganhar o Badge" required=""/>
                    <div class = "valid-feedback"></div>
                    <div class="invalid-feedback">Por favor, Indique como ganhar o Badge</div>
                    <p class="help-block" th:if="${#fields.hasErrors('toWin')}" th:errors="*{toWin}">Error</p>
                </div>
                <small id="ToWinHelpBlock" class="form-text text-muted">
                    Descrição sobre o que fazer para resolver o desafio
                </small>
            </div>

            <div class="text-center">
                <button type="submit" class="btn btn-success">Submeter</button> <button type="reset" class="btn btn-primary">Repor</button>
            </div>
            <br>
            <br>

        </form>
        <script>
            // Disable form submissions if there are invalid fields
            (function() {
                'use strict';
                window.addEventListener('load', function() {
                    // Get the forms we want to add validation styles to
                    var forms = document.getElementsByClassName('needs-validation');
                    // Loop over them and prevent submission
                    var validation = Array.prototype.filter.call(forms, function(form) {
                        form.addEventListener('submit', function(event) {
                            if (form.checkValidity() === false) {
                                event.preventDefault();
                                event.stopPropagation();
                            }
                            form.classList.add('was-validated');
                        }, false);
                    });
                }, false);
            })();
        </script>
    </div>
</body>
</html>