<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head th:replace="layouts/layout :: head (title = 'Badge Submetido')">

</head>

<style>
    figure{
        display: inline-flex;
    }
    figure img{
        horiz-align: center;

    }
    figure figcaption{

        text-align: left;
    }
</style>
<body>
    <div th:replace="layouts/layout :: menu"> </div>
    <br>
    <br>
    <h2 style="text-align: center;  margin-top: 25px">Detalhes Badge</h2>
    <br>

    <div style="margin-left: 30px">

        <!--/*@thymesVar id="badgeForm" type="pt.ulusofona.badges.forms.BadgeForm"*/-->

        <figure>
            <img  th:src=" @{/img/badge2.png} "  class="rounded float-left" alt="polyglota" width="270" height="270"/>
            <figcaption >
                <p th:text=" 'Nome: ' + ${badgeForm.name}"></p>
                <div class="row">
                    <div style="margin-left: 30px">
                        <div class="row"><p>Curso: </p><td th:text="${badgeForm.LEIRT}  ?' LEIRT'"/><td th:text="${badgeForm.LEI}  ?' LEI'"/><td th:text="${badgeForm.LIG}  ?' LIG'"/><td th:text="${badgeForm.LEIRT and badgeForm.LIG and badgeForm.LEI}  ?' LEI, LIG, LEIRT'"/></div>
                    </div>
                </div>
                <p th:text=" 'Ano Curricular: ' + ${badgeForm.year}"></p>
                <p th:text=" 'Validação: ' + ${badgeForm.validacao}"></p>

                <!--/*@thymesVar id="badgeForm" type="pt.ulusofona.badges.forms.BadgeForm"*/-->
                <p th:text=" 'Descrição: ' + ${badgeForm.description}"></p>
                <p th:text=" 'Como Ganhar: ' + ${badgeForm.toWin}"></p>
                <a th:href="@{/teacher/badgeform}" class="btn btn-info btn-sm" role="button" aria-pressed="true">Novo Badge</a>
            </figcaption>
        </figure>

    </div>

<!--    <img src="./img/logo.png">-->


</body>
</html>
