<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head th:replace="layouts/layout :: head (title = 'Home Student')">

    <link th:rel="stylesheet" th:href="@{webjars/bootstrap/4.0.0-2/css/bootstrap.min.css} "/>
</head>
<style>
    figure {
        display: inline-block;
        border: 1px solid gray;
        margin: 20px; /* adjust as needed */
    }
    figure img {
        vertical-align: top;
    }
    figure figcaption {
        font-weight: bold;
        text-align: center;

    }


</style>
<body>
<div th:replace="layouts/layout :: menu"> </div>

<div>
    <br>
    <br>
    <br>
    <h2 style="text-align: center;  margin-top: 25px">As minhas Medalhas</h2>

    <div class="container">
        <div class="row">
            <div class="col">
                <ul class="nav nav-tabs mt-5" id="myTabs">
                    <li class="nav-item"><a href="#tab1" data-url="/tab1" class="nav-link active">Badges</a></li>
                    <li class="nav-item"><a href="#tab2" data-url="/tab2" class="nav-link">Tab2</a></li>
                </ul>

                <div class="tab-content pt-3">
                    <div class="tab-pane active" id="tab1">
                        <tr th:if="${badges.size() == 0}">
                            <td colspan="2"> Sem Badges</td>
                            <p th:text=" 'Número de Badges: ' + ${badges.size()}"></p>
                        </tr>
                        <div class="row">
                            <div class="row" style="margin-left: 30px"><h4>Badges Conquistados:&nbsp;</h4><h4 th:text="  ${mybadges.size()}"></h4></div>
                            <div class="row" style="margin-left: 500px"><h4>Badges Disponíveis:&nbsp;</h4><h4 th:text="  ${badges.size()}"></h4></div>

                        </div>

                            <tr  th:each="badge : ${badges}">
                                <!--        <td><span th:text="${badge.name}">Nome: </span></td>-->

                                <figure>
                                    <img th:src=" ${badge.assign} == true ?  @{/img/badge.png} : @{/img/badgeBW.png} "  class="rounded float-left " alt="polyglota" width="200" height="200"/>
                                    <figcaption ><span th:text="${badge.name}">Nome: </span></figcaption>
                                </figure>

                            </tr>
                    <div class="tab-pane" id="tab2"></div>

                </div>
            </div>
        </div>

    </div>


    <script th:src="@{/webjars/jquery/jquery.min.js}"></script>
    <script th:src="@{/webjars/popper.js/umd/popper.min.js}"></script>
    <script th:src="@{/webjars/bootstrap/js/bootstrap.min.js}"></script>

    <script>
        $('#myTabs a').click(function (e) {
            e.preventDefault();

            var url = $(this).attr("data-url");
            var href = this.hash;
            var pane = $(this);

            // ajax load from data-url
            $(href).load(url, function (result) {
                pane.tab('show');
            });
        });

        // load first tab content
        $('#tab1').load($('.nav-link.active').attr("data-url"), function (result) {
        });
    </script>

</div>


</body>
</html>
