<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head th:replace="layouts/layout :: head (title = 'Home Professor')">

</head>
<style>
    figure {
        display: inline-block;
        border: 1px solid gray;
        margin: 20px; /* adjust as needed */
    }
    figure img {
        vertical-align: top;
    }
    figure figcaption {
        font-weight: bold;
        text-align: center;

    }


    h2{
        font-family: Calibri;
        font-weight: bolder;
        color:gray();
    }


</style>
<body>
    <div th:replace="layouts/layout :: menu"> </div>
    <br>
    <br>
    <h2 style="text-align: center;  margin-top: 25px">Os Meus Badges</h2>
    <tr th:if="${badges.size() == 0 or badges == null} ">
        <div class="row" style="margin-left:30px">
            <p th:text=" 'Número de Badges: ' + ${badges.size()}"></p>

        </div>
    </tr>
    <tr th:each="badge : ${badges}">
        <!--       (id=${badge.id}) <td><span th:text="${badge.name}">Nome: </span></td>-->
        <figure><!--?getId=${thread.id}-->
            <a th:href="@{'/teacher/detailBadge/'+  ${badge.id}}">
                <img th:src=" @{/img/badge.png} "  class="rounded float-left" alt="polyglota" width="230" height="230"/>
            </a>
            <figcaption ><span th:text="${badge.name}">Nome: </span></figcaption>
        </figure>
    </tr>

</body>
</html>
