<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head th:replace="layouts/layout :: head (title = 'Home Professor')">

</head>
<body>
<div th:replace="layouts/layout :: menu"> </div>
<br>
<br>
<h2 style="text-align: center;  margin-top: 25px">Badge Enviado</h2>
<br>

</body>
</html>

<!-- <div class="col-md-2">
              <label for="validationTextarea">Alunos:</label>
              <textarea class="form-control is-invalid" id="validationTextarea" placeholder="Id dos Alunos" required></textarea>

          </div>-->